In [3]:
import numpy as np
import pandas as pd
from sklearn.linear_model import LinearRegression

# Charger le .csv
filepath = "data/depensesNormalized.csv"
df = pd.read_csv(filepath)

print("Setup Complete")

Setup Complete

In [15]:
display(df)

                     nom                ville       age   salaire  depenses
0   -8466861322638831409 -6618866510704355885 -1.274674 -1.524022 -1.032686
1   -1163022145265516038 -3127560310505538679  1.034239  0.014101 -1.790140
2   -8432546198976370195 -3127560310505538679 -0.864200 -0.176980 -0.619529
3     813814287408021138  2237729816932561715  1.136857 -1.506384 -1.652421
4   -6539356840948419747 -3127560310505538679  0.880311  1.802100  0.413364
..                   ...                  ...       ...       ...       ...
995 -3672457340965080231  8071006090454726235 -1.531219  0.265937 -0.137512
996 -8313621897288809557 -3127560310505538679  1.290785  0.744457  0.757661
997 -4120859682247526699 -3127560310505538679 -1.479910 -0.184166 -0.894967
998 -6947050939883203105 -3127560310505538679  0.315911 -0.408891  0.413364
999 -8301818406307654991  8071006090454726235  0.418529  1.293856  0.482223

[1000 rows x 5 columns]

In [8]:
X = df[["salaire"]]
y =  df["depenses"]
regSal = LinearRegression().fit(X,y)

# Prédiction juste avec le salaire :
regSal.score(X, y)
pred=regSal.predict(X)
dfResultat = pd.DataFrame({"salaire":X["salaire"],"depenses":y, "Depenses Preditent":pred})
display(dfResultat)
print("Coef : ", regSal.coef_)
print("Intercept : ", regSal.intercept_)
print("Score : ",regSal.score(X, y))

      salaire  depenses  Depenses Preditent
0   -1.524022 -1.032686           -1.033976
1    0.014101 -1.790140            0.009567
2   -0.176980 -0.619529           -0.120073
3   -1.506384 -1.652421           -1.022009
4    1.802100  0.413364            1.222638
..        ...       ...                 ...
995  0.265937 -0.137512            0.180425
996  0.744457  0.757661            0.505078
997 -0.184166 -0.894967           -0.124948
998 -0.408891  0.413364           -0.277413
999  1.293856  0.482223            0.877819

[1000 rows x 3 columns]

Coef :  [0.67845169]
Intercept :  3.487717762891342e-16
Score :  0.46029670093656905

In [10]:
# Ecriture dans prediction1.csv
dfResultat.to_csv("data/prediction_1.csv",index=False)

In [25]:
# Prédiction juste avec le salaire et l'age

X2 = df[["salaire","age"]]
y2 =  df["depenses"]
regSalAge = LinearRegression().fit(X2,y2)
print("Coef : ", regSalAge.coef_)
print("Intercept : ", regSalAge.intercept_)
print("Score : ",regSalAge.score(X2, y2))
pred2=regSalAge.predict(X2)
dfResultat2 = pd.DataFrame({"salaire":X2["salaire"], "age":X2["age"],"depenses":y2, "Depenses Preditent":pred2})
display(dfResultat2)

Coef :  [0.67519274 0.1395618 ]
Intercept :  3.724175540664552e-16
Score :  0.4797635759377238

      salaire       age  depenses  Depenses Preditent
0   -1.524022 -1.274674 -1.032686           -1.206905
1    0.014101  1.034239 -1.790140            0.153861
2   -0.176980 -0.864200 -0.619529           -0.240105
3   -1.506384  1.136857 -1.652421           -0.858438
4    1.802100  0.880311  0.413364            1.339623
..        ...       ...       ...                 ...
995  0.265937 -1.531219 -0.137512           -0.034141
996  0.744457  1.290785  0.757661            0.682796
997 -0.184166 -1.479910 -0.894967           -0.330887
998 -0.408891  0.315911  0.413364           -0.231991
999  1.293856  0.418529  0.482223            0.932013

[1000 rows x 4 columns]

In [26]:
# Ecriture dans prediction1.csv
dfResultat2.to_csv("data/prediction2_depense.csv",index=False)