In [28]:
import numpy as np
import pandas as pd


# Charger le .csv
filepath = "data/depenses.csv"
df = pd.read_csv(filepath)

print("Setup Complete")

Setup Complete

In [29]:
display(df)

# On sauvegarde le nom non hashé de la ville et du client.
saveNom = df.nom.unique()
saveVille = df.ville.unique()

# Sauvegarde
dfSaveNom = pd.DataFrame({"nom" : saveNom})
dfSaveVille = pd.DataFrame({"ville" : saveVille})

# Hashage
df["nom"] = df[["nom"]].sum(axis=1).map(hash)
df["ville"] = df[["ville"]].sum(axis=1).map(hash)




dfSaveNom['idName'] = dfSaveNom[['nom']].sum(axis=1).map(hash)
dfSaveVille["idVille"] = dfSaveVille[["ville"]].sum(axis=1).map(hash)

display(saveVille)
display(dfSaveNom)
display(dfSaveVille)



display(df)

                      nom             ville  age  salaire  depenses
0             Vail Bérubé           Cébazat   26    17190      55.0
1          Comforte Sorel  Clermont-Ferrand   71    21899      44.0
2            Émile Allain  Clermont-Ferrand   34    21314      61.0
3      Christiane Lagueux           Lempdes   73    17244      46.0
4          Delmare Duclos  Clermont-Ferrand   68    27373      76.0
..                    ...               ...  ...      ...       ...
995      Chapin Paimboeuf          Beaumont   21    22670      68.0
996        Michèle Quessy  Clermont-Ferrand   76    24135      81.0
997          Lundy Bérubé  Clermont-Ferrand   22    21292      57.0
998      Prunella Fecteau  Clermont-Ferrand   57    20604      76.0
999  Arianne Croquetaigne          Beaumont   59    25817      77.0

[1000 rows x 5 columns]

array(['Cébazat', 'Clermont-Ferrand', 'Lempdes', 'Gerzat', 'Beaumont',
       'Chamalières', 'Durtol', 'Blanzat', 'Aubière',
       "Cournon-d'Auvergne", 'Romagnat', 'Orcines', 'Pont-du-Château',
       'Aulnat', 'Pérignat-lès-Sarliève', 'Le Cendre',
       'Saint-Genès-Champanelle', 'Ceyrat', 'Châteaugay', 'Royat',
       'Nohanent'], dtype=object)

                      nom               idName
0             Vail Bérubé -8466861322638831409
1          Comforte Sorel -1163022145265516038
2            Émile Allain -8432546198976370195
3      Christiane Lagueux   813814287408021138
4          Delmare Duclos -6539356840948419747
..                    ...                  ...
994      Chapin Paimboeuf -3672457340965080231
995        Michèle Quessy -8313621897288809557
996          Lundy Bérubé -4120859682247526699
997      Prunella Fecteau -6947050939883203105
998  Arianne Croquetaigne -8301818406307654991

[999 rows x 2 columns]

                      ville              idVille
0                   Cébazat -6618866510704355885
1          Clermont-Ferrand -3127560310505538679
2                   Lempdes  2237729816932561715
3                    Gerzat  -419956044684605084
4                  Beaumont  8071006090454726235
5               Chamalières  5084385288772497392
6                    Durtol -2856840867675151175
7                   Blanzat  1974847120547609041
8                   Aubière -2901368033707005340
9        Cournon-d'Auvergne  5714460546502981168
10                 Romagnat  7018613913200322803
11                  Orcines  -515155412074313636
12          Pont-du-Château -8511782490906202733
13                   Aulnat  2110622779977008053
14    Pérignat-lès-Sarliève  5558872829961957473
15                Le Cendre  7146688660578833191
16  Saint-Genès-Champanelle  2515984259114172821
17                   Ceyrat  4135853209034386400
18               Châteaugay  1588897281560568339
19                    Royat -8262566862271572896
20                 Nohanent -7045755954913028856

                     nom                ville  age  salaire  depenses
0   -8466861322638831409 -6618866510704355885   26    17190      55.0
1   -1163022145265516038 -3127560310505538679   71    21899      44.0
2   -8432546198976370195 -3127560310505538679   34    21314      61.0
3     813814287408021138  2237729816932561715   73    17244      46.0
4   -6539356840948419747 -3127560310505538679   68    27373      76.0
..                   ...                  ...  ...      ...       ...
995 -3672457340965080231  8071006090454726235   21    22670      68.0
996 -8313621897288809557 -3127560310505538679   76    24135      81.0
997 -4120859682247526699 -3127560310505538679   22    21292      57.0
998 -6947050939883203105 -3127560310505538679   57    20604      76.0
999 -8301818406307654991  8071006090454726235   59    25817      77.0

[1000 rows x 5 columns]

In [30]:
def centrer_reduire(col):
    col = (col - col.mean())/col.std()
    return col


df.depenses=centrer_reduire(df.depenses)
df.salaire = centrer_reduire(df.salaire)
df.age = centrer_reduire(df.age)

display(df)

                     nom                ville       age   salaire  depenses
0   -8466861322638831409 -6618866510704355885 -1.274674 -1.524022 -1.032686
1   -1163022145265516038 -3127560310505538679  1.034239  0.014101 -1.790140
2   -8432546198976370195 -3127560310505538679 -0.864200 -0.176980 -0.619529
3     813814287408021138  2237729816932561715  1.136857 -1.506384 -1.652421
4   -6539356840948419747 -3127560310505538679  0.880311  1.802100  0.413364
..                   ...                  ...       ...       ...       ...
995 -3672457340965080231  8071006090454726235 -1.531219  0.265937 -0.137512
996 -8313621897288809557 -3127560310505538679  1.290785  0.744457  0.757661
997 -4120859682247526699 -3127560310505538679 -1.479910 -0.184166 -0.894967
998 -6947050939883203105 -3127560310505538679  0.315911 -0.408891  0.413364
999 -8301818406307654991  8071006090454726235  0.418529  1.293856  0.482223

[1000 rows x 5 columns]