In [12]:
import numpy as np
import pandas as pd


# Charger le .csv
filepath = "data/depenses.csv"
df = pd.read_csv(filepath)

print("Setup Complete")

Setup Complete

In [13]:
display(df)

# On sauvegarde le nom non hashé de la ville et du client.
saveNom = df.nom.unique()
saveVille = df.ville.unique()

# Sauvegarde
dfSaveNom = pd.DataFrame({"nom" : saveNom})
dfSaveVille = pd.DataFrame({"ville" : saveVille})

# Hashage
df["nom"] = df["nom"].map(hash)
df["ville"] = df["ville"].map(hash)




dfSaveNom['idName'] = dfSaveNom['nom'].map(hash)
dfSaveVille["idVille"] = dfSaveVille["ville"].map(hash)

display(saveVille)
display(dfSaveNom)
display(dfSaveVille)



display(df)

                      nom             ville  age  salaire  depenses
0             Vail Bérubé           Cébazat   26    17190      55.0
1          Comforte Sorel  Clermont-Ferrand   71    21899      44.0
2            Émile Allain  Clermont-Ferrand   34    21314      61.0
3      Christiane Lagueux           Lempdes   73    17244      46.0
4          Delmare Duclos  Clermont-Ferrand   68    27373      76.0
..                    ...               ...  ...      ...       ...
995      Chapin Paimboeuf          Beaumont   21    22670      68.0
996        Michèle Quessy  Clermont-Ferrand   76    24135      81.0
997          Lundy Bérubé  Clermont-Ferrand   22    21292      57.0
998      Prunella Fecteau  Clermont-Ferrand   57    20604      76.0
999  Arianne Croquetaigne          Beaumont   59    25817      77.0

[1000 rows x 5 columns]

array(['Cébazat', 'Clermont-Ferrand', 'Lempdes', 'Gerzat', 'Beaumont',
       'Chamalières', 'Durtol', 'Blanzat', 'Aubière',
       "Cournon-d'Auvergne", 'Romagnat', 'Orcines', 'Pont-du-Château',
       'Aulnat', 'Pérignat-lès-Sarliève', 'Le Cendre',
       'Saint-Genès-Champanelle', 'Ceyrat', 'Châteaugay', 'Royat',
       'Nohanent'], dtype=object)

                      nom               idName
0             Vail Bérubé  5869528078773418465
1          Comforte Sorel -1020792392412315024
2            Émile Allain   620169770367744342
3      Christiane Lagueux  6515123715887301905
4          Delmare Duclos  7773364298914308527
..                    ...                  ...
994      Chapin Paimboeuf -7785402059666095113
995        Michèle Quessy  4427489881231101426
996          Lundy Bérubé -7148645551465973653
997      Prunella Fecteau  7646510239850081113
998  Arianne Croquetaigne  -827019856563001673

[999 rows x 2 columns]

                      ville              idVille
0                   Cébazat  6062249861595304175
1          Clermont-Ferrand  4753653536617808688
2                   Lempdes  7917296096983068208
3                    Gerzat   793883926561764405
4                  Beaumont  2905631657325583044
5               Chamalières -8347080980923834938
6                    Durtol -2202457580933480049
7                   Blanzat -3447820473349923622
8                   Aubière   666146273114207661
9        Cournon-d'Auvergne -1723815054901960439
10                 Romagnat  4488942458980048499
11                  Orcines -4697274713213920048
12          Pont-du-Château   908956690383466929
13                   Aulnat -7573454849331885658
14    Pérignat-lès-Sarliève -8943415661132727150
15                Le Cendre -6882987834042626335
16  Saint-Genès-Champanelle  5030572869733229207
17                   Ceyrat  8788537194020901312
18               Châteaugay -8396572439238282933
19                    Royat -3394936925817430181
20                 Nohanent -1651763446967640230

                     nom                ville  age  salaire  depenses
0    5869528078773418465  6062249861595304175   26    17190      55.0
1   -1020792392412315024  4753653536617808688   71    21899      44.0
2     620169770367744342  4753653536617808688   34    21314      61.0
3    6515123715887301905  7917296096983068208   73    17244      46.0
4    7773364298914308527  4753653536617808688   68    27373      76.0
..                   ...                  ...  ...      ...       ...
995 -7785402059666095113  2905631657325583044   21    22670      68.0
996  4427489881231101426  4753653536617808688   76    24135      81.0
997 -7148645551465973653  4753653536617808688   22    21292      57.0
998  7646510239850081113  4753653536617808688   57    20604      76.0
999  -827019856563001673  2905631657325583044   59    25817      77.0

[1000 rows x 5 columns]

In [14]:
def centrer_reduire(col):
    col = (col - col.mean())/col.std()
    return col


df.depenses=centrer_reduire(df.depenses)
df.salaire = centrer_reduire(df.salaire)
df.age = centrer_reduire(df.age)

display(df)

                     nom                ville       age   salaire  depenses
0    5869528078773418465  6062249861595304175 -1.274674 -1.524022 -1.032686
1   -1020792392412315024  4753653536617808688  1.034239  0.014101 -1.790140
2     620169770367744342  4753653536617808688 -0.864200 -0.176980 -0.619529
3    6515123715887301905  7917296096983068208  1.136857 -1.506384 -1.652421
4    7773364298914308527  4753653536617808688  0.880311  1.802100  0.413364
..                   ...                  ...       ...       ...       ...
995 -7785402059666095113  2905631657325583044 -1.531219  0.265937 -0.137512
996  4427489881231101426  4753653536617808688  1.290785  0.744457  0.757661
997 -7148645551465973653  4753653536617808688 -1.479910 -0.184166 -0.894967
998  7646510239850081113  4753653536617808688  0.315911 -0.408891  0.413364
999  -827019856563001673  2905631657325583044  0.418529  1.293856  0.482223

[1000 rows x 5 columns]

In [16]:
# Ecriture dans depensesNormalized.csv
df.to_csv("data/depensesNormalized.csv",index=False)